{# templates/produit/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des Produits{% endblock %}

{% block body %}
    <h1>Liste des Produits</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td><img src="{{ asset('uploads/images/products' ~ produit.image) }}" alt="{{ produit.nom }}" width="100"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(produits) }} {# Affichage de la pagination #}
{% endblock %}
